<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo for Angular App Lifecycle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>  
</head>
<body>
    <div ng-app="costApp" ng-controller="CostController">
        <b>Bill</b>
        <div>Quantity: <input type="number" min="0" ng-model="qty" required></div>
        <div>Cost: <input type="number" min="0" ng-model="cost" required></div>
        <b>Total</b>
        <span>
            {{total | currency:'Rs'}}
        </span>
        <button class="btn" ng-click="pay()">Pay</button>

        <script>
            var app = angular.module('costApp', []);
            app.controller('CostController', function($scope) {
                $scope.qty = 0;
                $scope.cost = 0;
                $scope.total = 0;
                $scope.pay = function() {
                    $scope.total = $scope.qty * $scope.cost;
                };
            });
        </script>    
    </div>
</body>
</html>